{
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "phpVersion": "7.4",
    "trailingCommaPHP": false,
    "braceStyle": "psr-2",
    "requirePragma": false,
    "insertPragma": false
}
